<rocket-ui-simple-zone-container [title]="'tools_title' | translate" [messages]="messages"
                                 [breadcrumbs]="uiBreadcrumbs">
  <ul>
    <li><a routerLink="/tools/mail-center">{{ 'mail_center_txt' | translate }}</a></li>
    <li>
      <button rocketUiButton
              class="btn btn-secondary"
              (click)="clearCache()"
              [loading]="clearCacheInProgress"
              [iconClass]="'fas fa-eraser'">

        {{'tools_cache_cleared_title' | translate}}
      </button>
    </li>
  </ul>

  <rocket-iframe
    [(formData)]="formData"
    srcDoc='<html>
            <body>
            <h1>form here: </h1>
      <form>
  <label for="fname">Name:</label><br>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="fmail">Email:</label><br>
  <input type="text" id="fmail" name="fmail"><br><br>
  <label for="fmail">Accept:</label><br>
  <input type="checkbox" name="faccept"><br><br>
  <input type="radio" id="male" name="gender" value="male">
  <label for="male">Male</label><br>
  <input type="radio" id="female" name="gender" value="female">
  <label for="female">Female</label><br>
  <input type="submit" value="Submit">
  <textarea></textarea>
  </form>
  </body>
  </html>'></rocket-iframe>

</rocket-ui-simple-zone-container>

