<input type="text" class="form-control" id="name" [(ngModel)]="value"
		[required]="mandatory" [minlength]="minlength" [maxlength]="maxlength"
		#input="ngModel" />
		
<div *ngIf="input.invalid && (input.dirty || input.touched)"
		class="alert alert-danger">

	<div *ngIf="name.errors.required">
    	Name is required.
	</div>
	<div *ngIf="name.errors.minlength">
		Name must be at least 4 characters long.
	</div>

	<div *ngIf="name.errors.maxlength">
		Name must be max...
	</div>
</div>