<div *ngIf="reduced" cdkDropList (cdkDropListDropped)="drop($event)" class="rocket-draggable-list">
	<div *ngFor="let embe of visibleEmbes" cdkDrag class="rocket-draggable">
		<rocket-ui-structure *ngIf="reduced" class="rocket-summary" 
					[siStructure]="embe.summarySiStructure"
					[siControlsVisible]="false">
			<ng-container pre-content>
				<div cdkDragHandle class="rocket-handle"><i class="fa fa-bars"></i></div>
				
				<rocket-ui-qualifier [siQualifier]="embe.siEntry.qualifier" [showIdName]="false"></rocket-ui-qualifier>
			</ng-container>
			
			<ng-container post-content>
				<div class="rocket-simple-controls">
					<button class="btn btn-warining" (click)="open(embe)">
						<span>{{ 'common_edit_label' | translate }}</span>
						<i class="fa fa-pencil"></i>
					</button>
					
					<button class="btn btn-danger">
						<span>{{ 'common_delete_label' | translate }}</span>
						<i class="fa fa-trash-o"></i>
					</button>
				</div>
			</ng-container>
		</rocket-ui-structure>
	</div>
	
	<rocket-ui-add-past></rocket-ui-add-past>
</div>

<div *ngIf="!reduced">
	<div *ngFor="let embe of visibleEmbes">
		<rocket-ui-structure  [siStructure]="embe.siStructure"></rocket-ui-structure>
	</div>
	
	<rocket-ui-add-past></rocket-ui-add-past>
</div>
