

<div *ngIf="!reduced">
	
	<div *ngFor="let embe of embes">
		<ng-container *ngIf="embe.isPlaceholder()">
			<rocket-ui-add-past [obtainer]="obtainer" [allowedSiTypes]="model.getAllowedSiTypes()" type="tiles" 
					(newEntry)="add($event)"></rocket-ui-add-past>
		</ng-container>

		<ng-container *ngIf="!embe.isPlaceholder()">
			<rocket-ui-add-past [obtainer]="obtainer" [allowedSiTypes]="model.getAllowedSiTypes()"
					(newEntry)="addBefore($event, embe)"></rocket-ui-add-past>	
		
			<rocket-ui-structure [siStructure]="embe.siStructure"></rocket-ui-structure>
		</ng-container>
	</div>
	
	<rocket-ui-add-past [obtainer]="obtainer" [allowedSiTypes]="model.getAllowedSiTypes()" 
			(newEntry)="add($event)"></rocket-ui-add-past>
</div>
