<input type="file" (change)="change($event)" [accept]="mimeTypes.join(', ')" />

<div *ngIf="uploadingFile" class="rocket-loader"></div>

<ng-container *ngIf="currentSiFile">
	<a *ngIf="currentSiFile.url" [href]="currentSiFile.url">
		<img *ngIf="currentSiFile.thumbUrl; else nothumb" [src]="currentSiFile.thumbUrl" 
				[alt]="currentSiFile.name" width="40" height="30" />

		<ng-template #nothumb>{{ currentSiFile.name }}</ng-template>
	</a>
	
	<span *ngIf="!currentSiFile.url">{{ currentSiFile.name }}</span>
</ng-container>