<div *ngIf="type != 'reduced'" class="rocket-add-paste" [class.rocket-reduced]="type == 'reduced'">
	<div>
		<button type="button" class="btn btn-block btn-secondary" [disabled]="loading" (click)="add()">
			<span *ngIf="isAddLoading()" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true">
				[@tomekk: mach da einen loader]
			</span>	
			
			{{ 'common_add_label' | translate }}
		</button>
		
		<ul *ngIf="addablesVisible" class="rocket-multi-type-menu">
			<li *ngFor="let siQualifier of addables">
				<button type="button" (click)="choose(siQualifier.typeQualifier)" [disabled]="loading">
					<rocket-si-qualifier [siTypeQualifier]="siQualifier.typeQualifier"></rocket-si-qualifier>
				</button>
			</li>
		</ul>
	</div>
	
	<div *ngIf="pastablesAvailable">
		<button type="button" class="btn btn-block btn-secondary" (click)="pastablesVisible != pastablesVisible">
			{{ 'common_past_label' | translate }}
		</button>
		
		<ul *ngIf="pastablesVisible" class="rocket-multi-type-menu">
			<li *ngFor="let siQualifier of pastables">
				<button *ngIf="isTypeAllowed(siQualifier.typeQualifier); else disabledPaste" type="button" (click)="paste(siQualifier)"
						[disabled]="loading">
					<span *ngIf="isPasteLoading(siQualifier)" class="spinner-grow spinner-grow-sm" role="status" 
							aria-hidden="true">[@tomekk: mach da einen loader]</span>
						
					<rocket-si-qualifier siQualifier="siQualifier"></rocket-si-qualifier>
				</button>
				
				<button #disabledPaste type="button" disabled>
					<rocket-si-qualifier siQualifier="siQualifier"></rocket-si-qualifier>
					<i class="fas fa-ban"></i>
				</button>
			</li>
		</ul>
	</div>
</div>

<div *ngIf="type == 'tiles'" class="rocket-add-paste rocket-tiles">
	<ng-container *ngFor="let siTypeQualifier of allowedSiTypeQualifiers">
		<button type="button" (click)="addBySiType(siTypeQualifier)" [disabled]="loading">
			<span *ngIf="isAddLoading(siTypeQualifier)" class="spinner-grow spinner-grow-sm" role="status" 
					aria-hidden="true">[@tomekk: mach da einen loader]</span>
				
			<rocket-si-qualifier siType="siType" [showIdName]="false"></rocket-si-qualifier>
		</button>
	</ng-container>
	
	<ng-container *ngFor="let siQualifier of pastables">
		<button *ngIf="isTypeAllowed(siQualifier.typeQualifier)" type="button" (click)="paste(siQualifier)"
				[disabled]="loading">
			<span *ngIf="isPasteLoading(siQualifier)" class="spinner-grow spinner-grow-sm" role="status" 
					aria-hidden="true">[@tomekk: mach da einen loader]</span>
				
			<rocket-si-qualifier siQualifier="siQualifier"></rocket-si-qualifier>
		</button>
	</ng-container>
</div>