<table *ngIf="model.declaration" class="table table-hover rocket-table">
	<thead>
		<tr>
			<th *ngIf="selectable" class="rocket-entry-selector">
			</th>
			<th *ngFor="let siFieldDeclaration of getFieldDeclarations()">
				{{ siFieldDeclaration.label }}
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngFor="let page of model.getVisiblePages()">
			<tr *ngFor="let siEntry of page.entries" rocketUiEntry [siEntry]="siEntry">
				<td *ngIf="selectable" class="rocket-entry-selector" (click)="toggleSelection(siEntry.qualifier)">
					<ng-container *ngIf="singleSelect">
						<input type="radio" 
								[value]="true"
								[ngModel]="isSelected(siEntry.qualifier)" />
					</ng-container>
					<ng-container *ngIf="!singleSelect">
						<input type="checkbox" 
								[ngModel]="isSelected(siEntry.qualifier)"
								[disabled]="!areMoreSelectable() && !isSelected(siEntry.qualifier)" />
					</ng-container> 
				</td>
				<td *ngFor="let siFieldDeclaration of getFieldDeclarations()" (click)="toggleSelection(siEntry.qualifier)">
					<ng-template rocketUiContent [uiStructure]="uiStructure" 
							[uiContent]="siEntry.selectedTypeBuildup.getFieldById(siFieldDeclaration.fieldId).getContent()"></ng-template>
				</td>
				<td class="rocket-table-commands rocket-simple-commands">
					<ng-container *ngFor="let pair of siEntry.selectedTypeBuildup.controlMap | keyvalue">
						<rocket-ui-control [siControl]="pair.value" [uiStructure]="uiStructure"></rocket-ui-control>
					</ng-container>
				</td>
			</tr>
		</ng-container>
	</tbody>
</table>

<div *ngIf="loading" class="rocket-loader"></div>

 
<div class="rocket-zone-commands">
	<div *ngIf="selectable" class="rocket-partial-commands">
		<button class="btn btn-primary rocket-important" type="button" (click)="saveSelection()">
			<i class="fa fa-circle-o"></i>
			<span>{{ 'common_select_txt' | translate }}</span>
		</button>
		
		<button class="btn btn-secondary" type="button" (click)="cancelSelection()">
			<i class="fa fa-circle-o"></i>
			<span>{{ 'common_cancel_txt' | translate }}</span>
		</button>
	</div>

	<div class="rocket-main-commands">
	
	</div>
	<div class="rocket-aside-commands">
		<rocket-ui-pagination *ngIf="model.setup" [(currentPageNo)]="currentPageNo" [lastPageNo]="model.pagesNum" 
				class="rocket-pagination btn-group"></rocket-ui-pagination>
	</div>
</div>