<table *ngIf="model.compactDeclaration" class="table table-hover rocket-table">
	<thead>
		<tr>
			<th *ngFor="let siFieldDeclaration of getFieldDeclarations()">
				{{ siFieldDeclaration.label }}
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngFor="let page of model.getVisiblePages()">
			<tr *ngFor="let siEntry of page.entries" rocketUiEntry [siEntry]="siEntry">
				<td *ngFor="let siFieldDeclaration of getFieldDeclarations()">
					<ng-template rocketUiField [siEntry]="siEntry" [siFieldDeclaration]="siFieldDeclaration"></ng-template>
				</td>
				<td class="rocket-table-commands rocket-simple-commands">
					<ng-container *ngFor="let pair of siEntry.selectedBuildup.controlMap | keyvalue">
						<rocket-ui-control [siControl]="pair.value"></rocket-ui-control>
					</ng-container>
				</td>
			</tr>
		</ng-container>
	</tbody>
</table>

<div *ngIf="loading" class="rocket-loader"></div>

 
<div class="rocket-zone-commands">
	<div class="rocket-main-commands">
	
	</div>
	<div class="rocket-aside-commands">
		<rocket-ui-pagination *ngIf="model.setup" [(currentPageNo)]="currentPageNo" [lastPageNo]="model.pagesNum" 
				class="rocket-pagination btn-group"></rocket-ui-pagination>
	</div>
</div>