
<table *ngIf="listSiZone.compactDeclaration" class="table table-hover rocket-table">
	<thead>
		<tr>
			<th *ngFor="let siFieldDeclaration of getFieldDeclarations()">
				{{ siFieldDeclaration.label }}
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let siEntry of listSiZone.getPageByNo(1).entries" rocketUiEntry [siEntry]="siEntry">
			<td *ngFor="let siFieldDeclaration of getFieldDeclarations()">
				<ng-template rocketUiField [siEntry]="siEntry" [siFieldDeclaration]="siFieldDeclaration"></ng-template>
			</td>
			<td class="rocket-table-commands rocket-simple-commands">
				<ng-container *ngFor="let pair of siEntry.selectedBuildup.controlMap | keyvalue">
					<rocket-ui-control [siControl]="pair.value"></rocket-ui-control>
				</ng-container>
			</td>
		</tr>
	</tbody>
</table>
 
<div class="rocket-zone-commands">
	<div class="rocket-main-commands">
	
	</div>
	<div class="rocket-aside-commands">
		<rocket-ui-pagination [curPageNo]="1" [lastPageNo]="listSiZone.pagesNum" 
				class="rocket-pagination btn-group"></rocket-ui-pagination>
	</div>
</div>