<ng-container *ngIf="hasSubUiContents() || hasSubSiButtons(); else simpleButton">
	<div class="dropdown">
		<ng-template [ngTemplateOutlet]="simpleButton"></ng-template>
	
		<div *ngIf="subVisible" class="dropdown-subs">
			
			<div *ngFor="let subUiContent of subUiContents">
				<ng-template rocketUiContent [uiContent]="subUiContent"></ng-template>
			</div>

			<div *ngFor="let item of subSiButtonMap | keyvalue">
				<button [class]="item.value.btnClass" [class.rocket-important]="siButton.important" 
						(click)="subExec(item.key)" [disabled]="disabled">
					<span>{{ item.value.name }}</span>
					<i [class]="item.value.iconClass"></i>
				</button>
			</div>
			
			<div *ngIf="model.getSubTooltip && model.getSubTooltip()" class="rocket-tooltip">
				{{ model.getSubTooltip() }}
			</div>
		</div>
	</div>
</ng-container>

<ng-template #simpleButton>
	<button [class]="siButton.btnClass" [class.rocket-important]="siButton.important"  
			[class.rocket-icon-important]="siButton.iconImportant" [class.rocket-label-important]="siButton.labelImportant"
			[class.btn-loading]="loading" [disabled]="disabled" (click)="exec()">
		<i [class]="siButton.iconClass" class="btn-icon"></i>
		<span class="btn-name">{{ siButton.name }}</span>
		<span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
	</button>
</ng-template>