
<ng-container *ngIf="hasSubSiButtons(); else simpleButton">
	<div class="dropdown">
		<ng-template [ngTemplateOutlet]="simpleButton"></ng-template>
	
		<div *ngIf="subVisible">
			(Tomekk: class dropdown-menu macht display none)

			<button *ngFor="let item of subSiButtonMap | keyvalue"
					[class]="item.value.btnClass" (click)="subExec(item.key)" [disabled]="loading">
				<i [class]="item.value.iconClass"></i>
				<span>{{ item.value.name }}</span>
			</button>
		</div>
	</div>
</ng-container>

<ng-template #simpleButton>
	<button [class]="siButton.btnClass" (click)="exec()" [disabled]="loading">
		<span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>	
		<i [class]="siButton.iconClass"></i>
		<span>{{ siButton.name }}</span>
	</button>
</ng-template>