
<ng-template [ngIf]="hasSubSiButtons" [ngIfElse]="simpleButton">
	<div [class.dropdown]="hasSubSiButtons">
		<button class="{{ siButton.btnClass }}" (click)="exec()" [disabled]="loading">
			<span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>	
			<i class="{{ siButton.iconClass }}"></i>
			<span>{{ siButton.name }}</span>
		</button>
	
		<div *ngIf="subVisible" class="dropdown-menu">
			<button *ngFor="let item of subSiButtonMap | keyvalue">
					class="{{ item.value.btnClass }}" (click)="subExec(item.key)" [disabled]="loading">
				<i class="{{ item.value.iconClass }}"></i>
				<span>{{ item.value.name }}</span>
			</button>
		</div>
	</div>
</ng-template>

<ng-template #simpleButton>
	<button class="{{ siButton.btnClass }}" (click)="exec()" [disabled]="loading">
		<span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>	
		<i class="{{ siButton.iconClass }}"></i>
		<span>{{ siButton.name }}</span>
	</button>
</ng-template>