<header>
	<ol class="breadcrumb">
		<li class="breadcrumb-item active">
			<a href="/admin-hnm/manage/project-project-customer/overviewEiCommand">Kunden</a>							
		</li>
	</ol>
	
	<h1>Kunde</h1>
</header>

<rocket-ui-structure [siStructure]="siStructure" class="rocket-content"></rocket-ui-structure>

<div *ngIf="hasSiZoneErrors()" class="rocket-additional">
	<ul class="rocket-additional-nav">
		<li class="rocket-severity-danger rocket-active">{{ 'errors_txt' | translate }}</li>
	</ul>
	<div class="rocket-additional-container">
		<div class="rocket-additional-content" style="">
			<div *ngFor="let siZoneError of siZoneErrors" class="rocket-error-index-entry">
				<div *ngFor="let message of siZoneError.getMessages()" 
						class="rocket-error-index-message">{{ message }}</div>
				<a href="#">Fehler anzeigen</a>
			</div>
		</div>
	</div>
</div>