<div *ngIf="!uiZone.model" class="rocket-loader"></div>

<ng-container *ngIf="uiZone.model">
	<header>
		<rocket-ui-breadcrumbs [uiZone]="uiZone" [uiBreadcrumbs]="uiZone.model.breadcrumbs"></rocket-ui-breadcrumbs>
		
		<h1>{{ uiZone.model.title }}</h1>
	</header>
	
	<div rocketUiStructure [uiStructure]="uiZone.uiStructure" [asideVisible]="false" class="rocket-content"></div>

	<div *ngIf="hasUiZoneErrors()" class="rocket-additional">
		<div>
			<ul class="rocket-additional-nav">
				<li class="rocket-severity-danger rocket-active">{{ 'errors_txt' | translate }}</li>
			</ul>
			<div class="rocket-additional-container">
				<div class="rocket-additional-content">
					<div *ngFor="let uiZoneError of uiZoneErrors" class="rocket-error-index-entry">
						<rocket-ui-message [message]="uiZoneError.message" class="rocket-error-index-message"></rocket-ui-message>
						<a href="#">Fehler anzeigen</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="rocket-zone-commands">
		<div *ngIf="partialCommandUiContents.length > 0" class="rocket-partial-commands">
			<ng-template *ngFor="let uiContent of partialCommandUiContents" 
					rocketUiContent [uiContent]="uiContent"></ng-template>
		</div>
		<div *ngIf="mainCommandUiContents.length > 0" class="rocket-main-commands">
			<ng-template *ngFor="let uiContent of mainCommandUiContents" 
					rocketUiContent [uiContent]="uiContent"></ng-template>
		</div>
		<div *ngIf="asideCommandUiContents.length > 0" class="rocket-aside-commands">
			<ng-template *ngFor="let uiContent of asideCommandUiContents" 
					rocketUiContent [uiContent]="uiContent"></ng-template>
		</div>
	</div>
</ng-container>