<ng-container *ngIf="inputAvailable">
	<input #fileInput type="file" (change)="change($event)" [accept]="getAcceptStr()" [disabled]="loading" />

	<button class="pic-btn" [disabled]="loading" (click)="uploader.open()">{{ 'editor_txt' | translate }}</button>

	<span>({{ 'max_label'| translate }} {{ getPrettySize() }})</span>
</ng-container>

<ng-container *ngIf="currentSiFile">
	
	<button class="pic-btn" [disabled]="loading" (click)="uploader.open()">{{ 'editor_txt' | translate }}</button>

	<a *ngIf="currentSiFile.url" [href]="currentSiFile.url">
		<ng-container *ngIf="currentSiFile.thumbUrl; else nothumb">
			<img [class.sr-only]="!imgLoaded" [src]="currentSiFile.thumbUrl"
					[alt]="currentSiFile.name" height="30" (load)="imgLoaded = true" />
		</ng-container>

		<ng-template #nothumb>{{ currentSiFile.name }}</ng-template>
	</a>
	
	<span *ngIf="!currentSiFile.url">{{ currentSiFile.name }}</span>
</ng-container>

<button *ngIf="resizable" (click)="resize()">
	<i class="fa fa-crop"></i>
</button>

<button *ngIf="removable" (click)="removeCurrent()">
	{{ 'common_remove_txt' | translate }}
</button>

<div *ngIf="loading" class="rocket-loader"></div>

<div *ngIf="uploadTooLarge" class="rocket-message-error">
	{{ 'upload_too_large_err' | translate }}
</div>

<div *ngIf="uploadErrorMessage" class="rocket-message-error">
	{{ uploadErrorMessage }}
</div>

<div *ngIf="!uploadTooLarge && !uploadErrorMessage && model.getMessages().length > 0" 
		class="rocket-message-error">
	<div *ngFor="let message of model.getMessages()">{{ message }}</div>
</div>