<ng-container *ngIf="inputAvailable">
	<input #fileInput type="file" (change)="change($event)" [accept]="getAcceptStr()" [disabled]="loading" />

	<span>({{ 'max_label'| translate }} {{ getPrettySize() }})</span>
</ng-container>

<ng-container *ngIf="currentSiFile">
	<a *ngIf="currentSiFile.url" [href]="currentSiFile.url">
		<ng-container *ngIf="currentSiFile.thumbUrl; else nothumb">
			<img [class.sr-only]="!imgLoaded" [src]="currentSiFile.thumbUrl"
					[alt]="currentSiFile.name" height="30" (load)="imgLoaded = true" />
		</ng-container>

		<ng-template #nothumb>{{ currentSiFile.name }}</ng-template>
	</a>
	
	<span *ngIf="!currentSiFile.url">{{ currentSiFile.name }}</span>
</ng-container>

<button *ngIf="resizable" (click)="editImage()">
	<i class="fa fa-crop"></i>
</button>

<button *ngIf="removable" (click)="removeCurrent()">
	{{ 'common_remove_txt' | translate }}
</button>

<div *ngIf="loading" class="rocket-loader"></div>

<rocket-upload-result-message [uploadResult]="uploadResult" [messageFieldModel]="model"></rocket-upload-result-message>
