
<ng-container *ngIf="getLabel()">
	<label>{{ getLabel() }}</label>
</ng-container>

<div class="rocket-control">
	<ul *ngIf="isMain()" class="rocket-main-group-nav nav nav-tabs">
		<li *ngFor="let child of children" [class.active]="child.visible">
			{{ child.label }}
		<li>
	</ul>
	
	<div *ngIf="!loaded" class="rocket-loader"></div>
	
	<ng-template *ngIf="siStructureContent" rocketStructureContent [siStructureContent]="siStructureContent"></ng-template>

	<ng-container *ngFor="let child of children">
		<rocket-ui-structure *ngIf="child.visible" [siStructure]="child"></rocket-ui-structure>
	</ng-container>
</div>
