
<ng-container *ngIf="getLabel()">
	<label>{{ getLabel() }}</label>
</ng-container>

<div *ngIf="toolbarVisible && (toolbarUiStructures.length > 0 || (asideVisible && asideUiContents.length > 0))" class="rocket-toolbar">
	<ng-container *ngFor="let toolbarUiStructure of toolbarUiStructures">
		<div rocketUiStructure [uiStructure]="toolbarUiStructure"></div>		
	</ng-container>
	
	<ng-container *ngIf="asideVisible">
		<ng-container *ngFor="let asideUiContent of asideUiContents">
			<ng-template rocketUiContent [uiContent]="asideUiContent" [uiStructure]="uiStructure"></ng-template>		
		</ng-container>
	</ng-container>
</div>

<ng-content select="[pre-content]"></ng-content>

<div *ngIf="getType()" class="rocket-structure-content">
	<ng-template [ngTemplateOutlet]="structureContent"></ng-template>
</div>

<ng-container *ngIf="!getType()">
	<ng-template [ngTemplateOutlet]="structureContent"></ng-template>
</ng-container>

<ng-template #structureContent>
	<div *ngIf="!loaded" class="rocket-loader"></div>
	
	<ng-container *ngIf="loaded">
		<ul *ngIf="isMain()" class="rocket-main-group-nav nav nav-tabs">
			<li *ngFor="let child of contentUiStructures" [class.active]="child.visible">{{ child.label }}</li>
		</ul>
		
		<ng-template *ngIf="uiContent" rocketUiContent [uiStructure]="uiStructure" [uiContent]="uiContent"></ng-template>
	</ng-container>
</ng-template>

<ng-content select="[post-content]"></ng-content>
