<div class="rocket-toolbar">
	<div class="rocket-simple-commands">
		<button class="btn btn-warning rocket-important rocket-label-important" (click)="openAll()">
			{{ 'common_edit_all_label' | translate }} <i class="fa fa-pencil"></i>
		</button>
	</div>
</div>

<div cdkDropList (cdkDropListDropped)="drop($event)" class="rocket-draggable-list">
	<div *ngFor="let embe of embes" cdkDrag class="rocket-draggable">
		<rocket-si-add-past *ngIf="!toOne" [disabled]="maxReached" [obtainer]="obtainer" 
					(newEntry)="addBefore(embe, $event)"></rocket-si-add-past>

		<div *ngIf="embe.isPlaceholder()">
			<div [class.d-none]="!model.isSortable()" cdkDragHandle class="rocket-handle">
				<i class="fa fa-bars"></i>
			</div>

			<div class="rocket-loader"></div>

			<div>
				<button class="btn btn-danger">
					<span>{{ 'common_delete_label' | translate }}</span>&nbsp;
					<i class="fa fa-trash-alt"></i>
				</button>
			</div>
		</div>
		
		<ng-container *ngIf="!embe.isPlaceholder() && !embe.isTypeSelected()">
			<div class="rocket-summary rocket-summary-ghost">
				<div [class.d-none]="!model.isSortable()" cdkDragHandle class="rocket-handle">
					<i class="fa fa-bars"></i>
				</div>

				<div class="rocket-si-qualifier">
				</div>
				<div class="rocket-simple-commands">
					<button class="btn btn-warning" (click)="open(embe)">
						<span>{{ 'common_edit_label' | translate }}</span>&nbsp;
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
		</ng-container>

		<ng-container *ngIf="!embe.isPlaceholder() && embe.isTypeSelected()">
			<rocket-si-add-past [obtainer]="obtainer" (newEntry)="addBefore($event, embe)"></rocket-si-add-past>

			<div rocketUiStructure class="rocket-summary" 
						[uiStructure]="embe.summaryUiStructure" [toolbarVisible]="false">
				<ng-container pre-content>
					<div [class.d-none]="!model.isSortable()" cdkDragHandle class="rocket-handle">
						<i class="fa fa-bars"></i>
					</div>
					
					<rocket-si-qualifier [siMaskQualifier]="embe.siEntry.qualifier.maskQualifier"></rocket-si-qualifier>
				</ng-container>
				
				<ng-container post-content>
					<div class="rocket-simple-commands">
						<button class="btn btn-warning" (click)="open(embe)">
							<span>{{ 'common_edit_label' | translate }}</span>
							<i class="fa fa-pencil"></i>
						</button>
						<button class="btn btn-danger" (click)="remove(embe)">
							<span>{{ 'common_delete_label' | translate }}</span>
							<i class="fa fa-trash-alt"></i>
						</button>
						<button class="btn btn-success" [class.active]="copyPool.isCopied(embe)" (click)="copyPool.toggle(embe)">	
							<span>{{ 'common_copy_label' | translate }}</span>
							<i class="fa fa-copy"></i>
						</button>
					</div>
				</ng-container>
			</div>
		</ng-container>
	</div>

	<rocket-si-add-past [obtainer]="obtainer" (newEntry)="add($event)"></rocket-si-add-past>
</div>