<div class="rocket-split-view-control">
	<div class="rocket-split-view-status">
		<label>
			<i *ngIf="model.getIconClass()" [class]="model.getIconClass()"></i>
			{{ 'visible_label' | translate }}
		</label>
		<span>{{ activeShortLabel }}</span>
	</div>
	
	<button class="btn btn-secondary" [title]="model.getTooltip()" type="button" (click)="toggleMenuVisibility()">
		<i class="fa fa-cog"></i>&nbsp;<span>{{ 'languages_txt' | translate }}</span>
	</button>

	<div *ngIf="menuVisible" class="rocket-split-view-status-menu">
		<ul>
			<li *ngFor="let splitOption of model.getSplitOptions()">
				<a class="btn" [class.rocket-active]="isKeyVisible(splitOption.key)" 
						[class.disabled]="isKeyMandatory(splitOption.key)" 
						(click)="toggleKeyVisibility(splitOption.key)">
					{{ splitOption.label }} 
					<div class="rocket-switch" [class.rocket-switch-on]="isKeyVisible(splitOption.key)" [class.rocket-switch-off]="!isKeyVisible(splitOption.key)"></div>
				</a>
			</li>
		</ul>
		
		<div *ngIf="model.getTooltip()" class="rocket-tooltip">
			{{ model.getTooltip() }}
		</div>
	</div>
</div>
