SetEnv N2N_STAGE development

RewriteEngine on

#RewriteCond %{SERVER_ADDR} !127.0.0.1
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule (.*) http://www.%{HTTP_HOST}/$1 [R=301,L] 

#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [E=RELATIVE_PATH:$1]

RewriteCond static/index.html -F
RewriteRule ^$ static/index.html [L]

RewriteCond static/%{ENV:RELATIVE_PATH} -F
RewriteRule ^(.*)$ static/%{ENV:RELATIVE_PATH} [L]

#not possible on all servers 
#php_value display_errors 0

#disable SecFilterEngine for fancy upload on metanet servers
#SecFilterEngine Off

<Files *.ini>
Order deny,allow
Deny from All
</Files>