<phpunit bootstrap="test/bootstrap.php">
    <coverage>
        <include>
            <directory suffix=".php">app</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Global Test Suite">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
