<style>
	.mail-item {
		margin: 20px;
		background: #fcfcfc;
	}

	.mail-item-headline {
		height: 40px;
		background: grey;
	}

  .mail-item-headline {
    cursor: pointer;
  }

  .mail-item-headline h4 {
    width: 90%;
    display: inline-block;
  }
  .mail-item-headline .mail-item-visibility-toggler {
    width: 10%;
    background: lightgrey;
    display: inline-block;
    text-align: center;
    height: 100%;
  }
</style>
<rocket-ui-simple-zone-container [loading]="!mailItems" [title]="'tool_mail_center_title' | translate">
	<select class="rocket-mail-paging" #mailLogFileSelect
					(change)="mailLogFileChanged(mailLogFileDatas[mailLogFileSelect.value])">
		<option value="{{mailLogFileDatas.indexOf(mailLogFileData)}}" *ngFor="let mailLogFileData of mailLogFileDatas">
				{{mailLogFileData.filename}}
		</option>
	</select>

	<div class="mail-item" *ngFor="let mailItem of mailItems">
		<div class="mail-item-headline" (click)="mailItem.toggleVisibility()">
			<h4>{{mailItem.subject}} {{mailItem.dateTime}}</h4>
      <div class="mail-item-visibility-toggler">
        <i class="fa {{mailItem.contentVisible ? 'fa-chevron-up':'fa-chevron-down'}}"></i>
      </div>
		</div>
		<div class="mail-item-content" [@slide]="mailItem.contentVisible ? 'open':'closed'">
			<div>{{'mail_center_mail_from_label' | translate}}: {{mailItem.from}}</div>
			<div>{{'mail_center_mail_to_label' | translate}}: {{mailItem.to}}</div>
			<div *ngIf="!!mailItem.cc">Cc: {{mailItem.cc}}</div>
			<div *ngIf="!!mailItem.bcc">Bcc: {{mailItem.bcc}}</div>
			<div *ngIf="!!mailItem.replyTo">{{'mail_center_mail_reply_to_label' | translate}}: {{mailItem.replyTo}}</div>
			<div>
        <h5>{{'mail_center_mail_message_label' | translate}}:</h5>
        <p>{{mailItem.message}}</p>
      </div>
			<h5>{{'mail_center_mail_attachments_label' | translate }}</h5>
      <ul>
				<li *ngFor="let attachment of mailItem.attachments">
					<a href="{{attachment.path}}" download="{{attachment.name}}">{{attachment.name}}</a>
				</li>
			</ul>
		</div>
	</div>
	<ng-container aside-commands>
		<rocket-ui-pagination [(currentPageNo)]="currentPageNo"
													[totalPagesNo]="currentLogFileData.numPages"></rocket-ui-pagination>
	</ng-container>
</rocket-ui-simple-zone-container>
